/*.auth-image {
	width: auto;
	height: 350px;
}

.container-about {
	float: left;
}*/

/*.main-section {
	width: 45%;
	margin-left: 5%;
}

#masthead {
	margin-left: 5%;
}

.sidebar {
	margin-right: 20%;
}*/